@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes zoom-fade {
	from {
		opacity: 0;
		transform: scale(0.9, 0.9);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes slidedown-fade {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slideup-fade {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slideright-fade {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes expandright {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
