<div id="structure-outer">
		<menu id="structure-navbar">
			<li id="sidebar-toggle"><%- include("/partials/hamburger") %></li>
			<li class="title"><a class="logo" href="/">jjmorton</a></li>
		</menu>
		<menu id="structure-sidebar">
			<li class="title"><a class="logo tiled-bg" href="/">jjmorton</a></li>
			<li><a href="/lmc">LMC</a></li>
			<li><a href="/spirograph">Spirograph</a></li>
			<li><a href="/about">About</a></li>
			<a id="sidebar-footer" href="https://github.com/JJMorton/jjmorton.github.io" target="_blank"><%- include("/partials/git") %>View source on GitHub</a>
		</menu>
		<div id="structure-content-wrapper">
			<div id="structure-content">
				<h1><%= title %></h1>
