<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partials/head") %>
</head>
<body>
	<header>
		<%- include("partials/header") %>
	</header>
	<main>
		<h1><%= title %></h1>
		<p>This website was written with a backend in <a href="https://nodejs.org/en/">Node.js</a> with <a href="https://expressjs.com/">Express</a> and <a href="https://www.ejs.co/">EJS</a>.
		I'm trying to keep the fontend as simple as possible, keeping the bloat away.</p>
		<p>I don't know how long I'll maintain this for or how often it will be updated, but I'll do so whenever I have any ideas.</p>
		<p>View the code on <a href="https://github.com/JJMorton/jjmortonxyz">GitHub</a>.</p>
	</main>
	<footer>
		<%- include("partials/footer") %>
	</footer>
</body>
</html>
