<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
</head>
<body>

	<%- include("/partials/header") %>

	<main>
		<p>
			These images were all created entirely with code, some in JavaScript with <a href="https://p5js.org/" target="__blank">p5.js</a>, and some in Python with <a href="https://matplotlib.org/" target="__blank">matplotlib</a>.
			They all include some amount of 'randomness', so produce a slightly different image each time the code is run.
		</p>
	</main>

	<section>
		<div class="gallery">
			<a href="https://www.flickr.com/photos/jjmorton/53193817485/player" target="__blank">
				<img class="image-framed box-shadow" src="https://live.staticflickr.com/65535/53193817485_48776a33de_o_d.png"/>
			</a>
			<h2>Fractal Trees</h2>
			<img src="https://s11.gifyu.com/images/S4IzA.gif" style="width: 200px; float: right;"/>
			<p>
				These trees are fractals, a repeating pattern that could repeat itself infinitely.
				They are generated using <a href="https://en.wikipedia.org/wiki/L-system" target="__blank">L-systems</a>.
				All that is required is an initial 'state' (in the case of these trees, the initial state is the trunk), and a rule to evolve it.
				For all of these trees, the trunk evolves to produce two new branches from the top, both of which evolve in the same way.
				Each evolution also creates the additional branches with some rotation and changes to size and/or colour.
				In addition, the 'painted' effect is just many translucent rectangles drawn randomly over the branches.
			</p>
			<p>
				These L-systems were taken from <a href="http://algorithmicbotany.org/papers/sigcourse.2003/2-1-lsystems.pdf" target="__blank">Prusinkiewicz et al. (2003)</a>, see the paper for more details.
			</p>
		</div>

		<div class="gallery">
			<a href="https://www.flickr.com/photos/jjmorton/53192996632/in/album-72177720311265534/player" target="__blank">
				<img class="image-framed box-shadow" src="https://live.staticflickr.com/65535/53192996632_203718130b_o_d.png"/>
			</a>
			<h2>Succulent</h2>
			<p>
				This uses a similar 'painted' effect to that used for the trees above.
				The shape of the leaves was modelled with <a href="https://www.desmos.com/calculator/fwn74ual3y" target="__blank">Desmos</a>, and then many of them are rendered with randomly varying shapes to make it look more natural.
			</p>
		</div>

		<div class="gallery">
			<a href="https://www.flickr.com/photos/jjmorton/53193656890/in/album-72177720311265534/player" target="__blank">
				<img class="image-framed box-shadow" src="https://live.staticflickr.com/65535/53193656890_c71dbcf9ec_o_d.png"/>
			</a>
			<h2>Watercolour Mountains</h2>
			<p>
				The shape of these mountains is created with <a href="https://en.wikipedia.org/wiki/Perlin_noise" target="__blank">Perlin noise</a>, a way of generating random numbers that vary smoothly.
				The textured background is also created using perlin noise, multiplied by a function that varies periodically along the diagonal.
				A watercolour effect here is achieved with many slightly deformed shapes, drawn over the top of each other, see <a href="https://openprocessing.org/sketch/846117/" target="__blank">here</a> for an example.
			</p>
		</div>

		<div class="gallery">
			<a href="https://www.flickr.com/photos/jjmorton/53193459011/in/album-72177720311265534/player" target="__blank">
				<img class="image-framed box-shadow" src="https://live.staticflickr.com/65535/53193459011_1968086604_o_d.png"/>
			</a>
			<h2>Contour Flow Field</h2>
			<p>
				<a href="https://en.wikipedia.org/wiki/Perlin_noise" target="__blank">Perlin noise</a> was used to create a field, then many particles are created which follow the contours of the field.
				The particles' motions are traced, producing this image.
			</p>
		</div>
	</section>
	
	<%- include("/partials/footer") %>

</body>
</html>
