<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
</head>
<body>

	<%- include("/partials/header") %>

	<main>
		<p>
			Some photos I've taken (warning: android camera), mainly featuring nature on walks/hikes I've been on recently.
		</p>
	</main>

	<section>
		<iframe
			src="https://www.flickr.com/photos/jjmorton/sets/72177720311252956/player"
			frameborder="0"
			allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen
			style="width: 100%; aspect-ratio: 4/3;"
		></iframe>
		<!-- <a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/198121880@N08" title=""><img src="https://live.staticflickr.com/65535/52795308211_1d98d888b9_c.jpg" width="100%" height="600" alt=""/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->
	</section>
	
	<%- include("/partials/footer") %>

</body>
</html>
