<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<script src="/scripts/southwest.js"></script>
</head>
<body>

	<%- include("/partials/header") %>
	<main>
		<p>
		Pictures of England's south west!
		</p>
	</main>
	
	<section id="photos">
	</section>

	<%- include("/partials/footer") %>

</body>
</html>
