<div class="knob left-border" id="<%= name %>">
	<div class="wheel" id="<%= name %>-knob" title="Drag me up and down">
		<div class="marker"></div>
	</div>
	<label class="value" for="<%= name %>-knob">
		<p class="name">Knob</p>
		<p><output for="<%= name %>-knob">0</output> <span class="units">units</span></p>
	</label>
</div>
