<div class="meter left-border" id="<%= name %>">
	<label for="<%= name %>-progress">
		<span class="name">Meter</span>
		<output for="<%= name %>-progress">0</output>
		<span class="units">units</span>
	</label>
	<progress id="<%= name %>-progress"></progress>
</div>
