<div class="slider left-border" id="<%= name %>">
	<label for="<%= name %>-slider">
		<span class="name">Slider</span>
		<output for="<%= name %>-slider">0</output>
		<span class="units">units</span>
	</label>
	<input type="range" id="<%= name %>-slider" min="0" max="1" step="0.01" value="0"/>
</div>
