canvas {
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 5px solid var(--accent-color);
	box-sizing: border-box;
}

.left-border {
	border-left: 5px solid rgba(0, 0, 0, 0.4);
	border-color: rgba(0, 0, 0, 0.4);
	transition: border-left-width 100ms, border-color 100ms;
}

.left-border:hover,
.left-border.expanded {
	border-left-width: 10px !important;
	border-color: var(--text-color) !important;
}

#controls {
	margin: 20px 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#controls label.slider {
	font-family: var(--font-family);
	padding: 5px 10px;
	flex: 1;
	cursor: pointer;
}

#controls label.slider:not(:hover):nth-child(odd) {
	border-left: 5px solid rgba(0, 0, 0, 0.2);
}

#controls label.slider.expanded {
	color: black;
	background-color: var(--accent-color);
}

#controls label.slider:not(.expanded) {
	color: var(--text-color);
}

#controls label.slider > .name {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#controls label.slider > output {
	margin-right: 5px;
	font-weight: bold;
}


/* SLIDERS */

div#controls input[type=range] {
	width: 100%;
	left: 0;
	right: 0;
	margin: 10px auto 10px auto;
	background-color: var(--accent-color);
}

div#controls label.slider:not(.expanded) input[type=range] {
	display: none;
}

input[type=range] {
    -webkit-appearance: none;
	background: none;
	display: table-cell;
	vertical-align: middle;
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    height: 5px;
    background: var(--text-color);
    border: none;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100%;
    width: 20px;
	border-radius: 10px;
    background: var(--text-color);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* BUTTONS */

.control-group {
	display: flex;
	flex-direction: row;
}

.control-group > * {
	flex: 1;
}

button {
	color: var(--text-color);
	font-family: var(--font-family);
	padding: 1em;
	left: 0; right: 0;
	margin: 0 auto;
	border-radius: 0;
	background-color: var(--background-color);
	width: 100%;
}

.button {
	border: 2px solid rgba(0, 0, 0, 0.4);
	max-width: 400px;
	margin: 10px auto;
}

.button:disabled {
	border-color: transparent;
	cursor: default;
}

.button:not(:disabled):active {
	transform: translate(1px, 0);
	background-color: var(--accent-color);
}

button::-moz-focus-inner {
	border: none;
}

/* SELECTOR */

.selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 400px;
	left: 0; right: 0;
	margin: 10px auto;
}

.selector .selector-name {
	text-align: right;
	margin-right: 2px;
	font-family: var(--font-family);
}

.selector output {
	margin-left: 2px;
}

.selector .selector-name,
.selector output {
	flex: 1;
}

.selector button:disabled {
	color: transparent;
}

.selector button {
	flex: 0;
	border: none;
}

.selector button:not(:disabled) {
	cursor: pointer;
}

