canvas {
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 5px solid var(--accent-color);
	box-sizing: border-box;
}

#controls {
	margin: 20px 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#controls label {
	font-family: var(--font-family);
	padding: 5px 10px;
	flex: 1;
	border-left: 5px solid rgba(0, 0, 0, 0.2);
	transition: border-left-width 100ms, border-left-color 100ms;
	cursor: pointer;
}

#controls label:nth-child(odd) {
	border-left: 5px solid rgba(0, 0, 0, 0.4);
}

#controls label.expanded {
	color: black;
	background-color: var(--accent-color);
}

#controls label:not(.expanded) {
	color: var(--text-color);
}

#controls label:hover,
#controls label.expanded {
	border-left: 10px solid var(--text-color);
}

#controls label > .name {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#controls label > output {
	margin-right: 5px;
	font-weight: bold;
}


/* SLIDERS */

div#controls input[type=range] {
	width: 100%;
	left: 0;
	right: 0;
	margin: 10px auto 10px auto;
	/* transition: transform 200ms, margin 200ms; */
	background-color: var(--accent-color);
}

div#controls label:not(.expanded) input[type=range] {
	display: none;
}

input[type=range] {
    -webkit-appearance: none;
	background: none;
	display: table-cell;
	vertical-align: middle;
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    height: 5px;
    background: var(--text-color);
    border: none;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100%;
    width: 20px;
	border-radius: 10px;
    background: var(--text-color);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

button {
	border: 3px solid var(--text-color);
	border-radius: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
	padding: 1em;
	margin: 0 20px;
}

button:not(:disabled):active {
	transform: translate(2px, 2px);
}

button:not(disabled):hover {
	background-color: var(--accent-color);
}

button::-moz-focus-inner {
	border: none;
}
