/* the canvas takes on the size of its container in the js */
.canvas-container {
	max-width: calc(73vh - 50px);
/*	width: calc(100% - 50px);*/
	width: 100%;
	display: block;
	margin: 0 auto;
	border: 5px solid var(--accent-color);
	border-radius: 4px;
	box-sizing: border-box;
	background: var(--background-color);
	aspect-ratio: 1;
	position: relative;
}

/* Remove the canvas from the document flow, so that it doesn't affect size of the container */
canvas {
	vertical-align: bottom;
	position: absolute;
}

#controls > .left-border, .control-group {
	border-left: 5px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0% 1px, transparent 1px) 1;
	transition: border-left-width 100ms, border-color 100ms, border-image 400ms;
	padding: 5px 10px;
	font-family: var(--font-family);
}

#controls > .left-border:nth-of-type(odd), .control-group:nth-of-type(odd) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0% 1px, transparent 1px) 1;
}

/*#controls > .left-border:hover,
#controls > .left-border.expanded,
.control-group:hover {
	border-image: linear-gradient(to right, var(--text-color) 0% 1px, var(--border-color) 1px, transparent 80%) 1;
}
*/
.control-group {
	word-spacing: 2em;
}

.control-group > * {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	word-spacing: initial;
	position: relative;
	height: 100%;
	vertical-align: middle;
}

.control-group > *:not(:last-child)::after {
	content: "";
	display: block;
	height: 16px;
	rotate: 15deg;
	width: 1px;
	background-color: var(--border-color);
	position: absolute;
	right: -1.3em;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

/* KNOBS */

.knob {
	/*min-width: 175px;*/
	box-sizing: border-box;
}

.knob.disabled > .wheel, .knob.disabled output, .knob.disabled .units {
	opacity: 0.5;
}

.knob > * {
	display: inline-block;
	vertical-align: middle;
}

.knob > label {
	flex: 1;
	/*text-align: center;*/
	white-space: nowrap;
	position: relative;
	vertical-align: top;
	padding-left: 0.3em;
}

.knob > label > p {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

.knob > label .name {
	color: var(--text-color-dim);
}

.knob > label output {
	font-weight: bold;
}

.knob > .wheel {
	border-radius: 50%;
	/*background-color: var(--accent-color);*/
	border: 2px solid var(--text-color);
	box-sizing: border-box;
	outline: 0px solid var(--accent-color);
	width: calc(2em + 4px);
	aspect-ratio: 1;
	padding: 0;
	position: relative;
	top: 0; bottom: 0;
	margin-top: auto; margin-bottom: auto;
}

.knob:not(.disabled) > .wheel {
	cursor: ns-resize;
}

.knob:not(.disabled) > .wheel:hover, .knob:not(.disabled) > .wheel.changing {
	outline-width: 3px;
	border-width: 3px;
}

.knob > .wheel > .marker {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translateY(-100%);
	width: 0;
	height: 50%;
	outline: 1px solid var(--text-color);
}

/* SLIDERS + METERS */

.slider,
.slider > label {
	cursor: pointer;
}

.slider.expanded > label {
	color: black;
	background-color: var(--accent-color);
}

.slider:not(.expanded) > label {
	color: var(--text-color);
}

.slider > label > .name,
.meter > label > .name {
	display: block;
	/*width: 100%;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.slider > label > output,
.meter > label > output {
	font-weight: bold;
}

slider > label,
.meter > label {
	font-family: var(--font-family);
}

.slider.expanded {
	background-color: var(--accent-color);
}

.slider:not(.expanded) input[type=range] {
	display: none;
}

input[type=range] {
	width: 100%;
	margin: 10px auto 10px auto;
}

.meter > progress {
	width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
	background: none;
	display: table-cell;
	vertical-align: middle;
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    height: 5px;
    background: var(--text-color);
    border: none;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100%;
    width: 20px;
	border-radius: 10px;
    background: var(--text-color);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* BUTTONS */

button {
	display: block;
	color: var(--text-color);
	font-family: var(--font-family);
	padding: 1em;
	left: 0; right: 0;
	margin: 5px auto;
	border-radius: 4px;
	background-color: var(--accent-color);
	width: 100%;
	max-width: 400px;
	border: 2px solid var(--text-color-dim);
}

button:not(:disabled) {
	cursor: pointer;
}

button:not(:disabled):hover {
	background-color: var(--accent-color);
}

button:not(:disabled):active {
	transform: translate(2px, 2px);
}

button:disabled {
	border-color: transparent;
	cursor: default;
	box-shadow: none;
	border: 2px solid rgba(0, 0, 0, 0.4);
	opacity: 0.6;
}

button::-moz-focus-inner {
	border: none;
}

/* COMBO BOX */

.combobox > label {
	color: var(--text-color-dim);
}

.combobox > select {
	min-width: 100px;
}

.combobox > * {
	display: block;
}

/* CHECKBOX */

.checkbox,
.checkbox > input[type="checkbox"],
.checkbox > label {
	color: var(--text-color);
	margin: 0;
}

.checkbox:not(.disabled) > input[type="checkbox"],
.checkbox:not(.disabled) > label {
	cursor: pointer;
}

.checkbox > label {
	padding-left: 6px;
}

.checkbox.disabled > label {
	opacity: 0.6;
}

/* TEXT INPUT */

.input {
	border: 1px solid var(--accent-color);
	color: var(--text-color);
	padding: 4px 4px 0 4px;
	margin: 0;
}

.input:empty::after {
	content: "--";
	color: var(--border-color);
	pointer-events: none;
	font-weight: normal;
}

.input:focus {
	border-bottom: 2px solid var(--text-color-dim);
	outline: none;
	font-weight: bold;
}
