:root {
	--header-height: 3em;
	--header-color: #666;
	--header-size: 1em;
	
	--background-color: #fff;
	--text-color: #444;
	--text-color-dim: #bbb;
	--text-size: 1em;
	--accent-color: #a3be8c;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

	--footer-size: 0.8em;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	margin: 5% auto;
	width: 73%;
	min-width: 350px;
	background-color: var(--background-color);
}

main, section {
	width: 100%;
	animation: fade 0.2s ease-in-out;
}

.box-shadow {
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3, p, a, td, th, input, label, li {
	font-family: var(--font-family);
	color: var(--text-color);
}

.code {
	font-family: monospace;
	font-size: 120%;
}

h1 {
	font-size: 2em;
	animation: slidedown-fade 0.3s ease-in-out;
}

h1::after {
	content: "";
	display: block;
	background-color: var(--text-color-dim);
	width: 100%;
	height: 1px;
	animation: expandright 0.5s ease-in-out 0.3s;
	animation-fill-mode: both;
}

h2 {
	font-size: 1.5em;
	font-weight: 500;
	animation: slideright-fade 0.3s ease-in-out;
}

p, a, li {
	line-height: 1.6;
	font-size: var(--text-size);
}

a,
a:link,
a:visited {
	text-decoration: underline;
	color: var(--accent-color);
}

a:hover,
a:focus,
a:active {
	outline: none;
	color: var(--text-color);
}

header {
	/* border-bottom: 1px dashed var(--header-color); */
}

nav {
	text-align: center;
}

#nav-bar {
	list-style: none;
	margin: 0;
	padding: 0;
	height: var(--header-height);
}

#nav-bar > li {
	display: inline-block;
}

#nav-bar > li > a {
	line-height: var(--header-height);
	display: block;
	text-decoration: none;
	color: var(--header-color);
	padding: 0 1em 0 1em;
	text-transform: uppercase;
	font-size: var(--header-size);
	transform: translateY(0);
	transition: transform 0.1s;
}

#nav-bar > li > a:hover {
	color: var(--text-color);
	transform: translateY(-2px);
}


.list-preview {
	margin-top: 2em;
	margin-left: 20px;
	padding: 0;
	font-size: 0;
}

.item-preview {
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	list-style: none;
	width: calc(33% - 20px);
	min-height: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: initial;
	animation: zoom-fade 0.2s ease-in-out;
}

@media (max-width: 1300px) {
	.item-preview {
		width: calc(50% - 20px);
	}
}

@media (max-width: 800px) {
	.item-preview {
		width: calc(100% - 20px);
		min-width: 200px;
	}
}

.item-preview * {
	width: 100%;
}

.item-preview > :first-child {
	flex: 1;
	display: block;
	padding: 1em 1.5em;
	box-sizing: border-box;
	background-color: var(--accent-color);
	text-decoration: none;
	color: var(--text-color);
	overflow-y: hidden;
	text-overflow: ellipsis;
}

.item-preview > a {
	transition: background-color 200ms, color 200ms, transform 0.1s;
	transform: scale(1, 1);
}

.item-preview > a:hover {
	background-color: var(--text-color);
	color: var(--background-color);
	transform: scale(1.03, 1.03);
}

.item-preview > a:active {
	transform: scale(1, 1);
}

.item-preview > a > p {
	color: inherit;
}

.item-preview .title {
	font-size: 100%;
	font-weight: 500;
	margin: 8px 0 16px 0;
}

.item-preview .description {
	font-size: 85%;
}


.latex-block {
	display: block;
	height: 1.8em;
	margin: 0 auto;
	padding: 0.5em;
	left: 0;
	right: 0;
}

.latex-inline {
	display: inline;
	height: 1.2em;
	vertical-align: middle;
}

.image-framed {
	border: 2px solid var(--accent-color);
}


footer {
	/* opacity: 0.5; */
	margin-top: 4em;
	color: var(--text-color-dim);
}

footer::before {
	content: "";
	display: block;
	background-color: var(--text-color-dim);
	width: 100%;
	height: 1px;
	animation: expandright 0.5s ease-in-out 0.3s;
	animation-fill-mode: both;
}

footer p {
	color: var(--text-color-dim);
	font-size: var(--footer-size);
	animation: slideup-fade 0.3s ease-in-out;
}

