:root {
	--header-height: 3em;
	--header-size: 1em;
	--footer-size: 0.8em;
	--text-size: 1em;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	
	--background-color: #ffffff;
	--background-color-sidebar: var(--text-color);
	--background-color-sidebar-bold: var(--text-color-bold);
	--background-color-canvas: var(--background-color);

	--text-color: #333333;
	--text-color-dim: #808080;
	--text-color-bold: #222222;
	--text-color-onaccent: var(--text-color);
	--text-color-sidebar: var(--background-color);

	--border-color: #dddddd;
	--accent-color: #99c6ff;

	--roundness: 4px;
	--dark-shadow: 0 0 3px 0 var(--background-color-sidebar-bold);
}

* {
	accent-color: var(--accent-color);
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color-sidebar);
}

main, section, footer {
	margin: 0;
	padding: var(--structure-padding);
	box-sizing: border-box;
	width: 100%;
	animation: fade 0.2s ease-in-out;
}

/* To avoid unwanted space above sub-headings */
h2 {
	margin-top: 0;
}

.box-shadow {
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3, p, a, td, th, input, label, li {
	font-family: var(--font-family);
	color: var(--text-color);
}

.code {
	font-family: monospace;
	font-size: 120%;
}

h1 {
	text-align: left;
	font-size: 2em;
	animation: slidedown-fade 0.3s ease-in-out;
}


h2 {
	font-size: 1.5em;
	font-weight: 500;
	animation: slideright-fade 0.3s ease-in-out;
}

p, a, li {
	line-height: 1.6;
	font-size: var(--text-size);
}

a,
a:link,
a:visited {
	text-decoration: underline;
	color: var(--accent-color);
}

a:hover,
a:focus,
a:active {
	outline: none;
	color: var(--text-color);
}


.list-preview {
	padding: 0;
	font-size: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: var(--structure-padding);
}

.item-preview {
	/* Flex so that the content fills this container */
	display: flex;
	vertical-align: top;
	list-style: none;
	min-height: 200px;
	font-size: initial;
	animation: zoom-fade 0.2s ease-in-out;
}

.item-preview.large {
	grid-row: span 2;
}

.item-preview.large img {
	width: 100%;
	border-radius: var(--roundness);
	border: 1px solid var(--text-color-dim);
	background-color: var(--accent-color);
}

.item-preview > * {
	flex: 1;
	display: block;
	padding: var(--structure-padding);
	box-sizing: border-box;
	background-color: var(--accent-color);
	color: var(--text-color-onaccent);
	overflow-y: hidden;
	text-overflow: ellipsis;
	border-radius: var(--roundness);
}

.item-preview * {
	width: 100%;
}

.item-preview > a {
	transition: background-color 200ms, color 200ms, transform 0.1s;
	transform: scale(1, 1);
	color: var(--text-color-onaccent);
	text-decoration: none;
}

.item-preview > a:hover {
	background-color: var(--text-color);
	color: var(--background-color);
	transform: scale(1.03, 1.03);
}

.item-preview > a:active {
	transform: scale(1, 1);
}

.item-preview > a > * {
	color: inherit;
}

.item-preview .title {
	font-size: 100%;
	font-weight: 500;
	margin: 8px 0 16px 0;
}

.item-preview .description {
	font-size: 85%;
}


.latex-block {
	display: block;
	height: 1.8em;
	margin: 0 auto;
	padding: 0.5em;
	left: 0;
	right: 0;
}

.latex-inline {
	display: inline;
	height: 1em;
	vertical-align: middle;
}

:root.dark :is(.latex-block, .latex-inline) {
	filter: invert(1);
}
.image-framed {
	border: 2px solid var(--accent-color);
	margin: 0 auto;
	left: 0;
	right: 0;
	display: block;
	border-radius: var(--roundness);
}

.big-photo {
	max-width: 100%;
	height: auto;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto var(--structure-padding) auto;
}


.tooltip {
	text-decoration: underline dotted;
	font-style: italic;
	cursor: help;
}

footer {
	border-top: 1px solid var(--border-color);
}

footer > p {
	color: var(--text-color-dim);
	font-size: var(--footer-size);
	animation: slideup-fade 0.3s ease-in-out;
	margin: 0;
	display: flex;
	flex-direction: row;
}

footer > p > span {
	flex: 1;
}

span.color-sel {
	display: inline-block;
	height: 1em;
	border-radius: var(--roundness);
	aspect-ratio: 1;
/*	border: 1px solid var(--border-color);*/
	cursor: pointer;
	vertical-align: middle;
}

/* NEW LAYOUT */

:root {
	--sidebar-width: 270px;
	--sidebar-collapsed-width: 42px;
	--navbar-inner-height: 2em;
	--navbar-height: calc(2 * var(--structure-padding) + var(--navbar-inner-height));
	--structure-padding: 20px;
	--min-page-width: 350px;
	--max-content-width: 800px;
	--title-ypos: calc(3 * var(--structure-padding));
	--title-height: 1.5em;
}

.tiled-bg {
	position: relative;
}

.tiled-bg > * {
	/*Make sure the children are positioned above the texture*/
	position: relative;
	z-index: 1;
}

.tiled-bg::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.1;
	background-image: url("/assets/bg-tiled.png");
	background-position: top left;
	background-repeat: repeat;
	background-size: 150px;
	z-index: 0;
}

/*
Effectively serves as a root element for all others on the page.
So that the body can be coloured dark like the side-/nav-bar,
which I think looks good when 'elastic' scrolling overshoots the
top/bottom.
*/
#structure-outer {
	width: 100%;
	min-height: 100vh;
	min-width: var(--min-page-width);
	top: 0;
	position: absolute;
	/* To make sure the content fills the height of the screen */
	display: flex;
	flex-direction: column;
}

/* LOGO */

.logo {
	display: inline-block;
	/*
	Using !important here, as we want the logo to always
	look the same, no matter what
	*/
	font-family: monospace !important;
	text-decoration: none !important;
	font-size: 1.5em !important;
	border-radius: var(--roundness) !important;
	font-weight: bold !important;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;
}
.logo::before {
	/* Website favicon next to home menu item */
	position: relative;
	content: "";
	display: inline-block;
	background-image: url("/favicon.ico");
	background-repeat: no-repeat;
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	background-position: center;
}

/* SIDEBAR */

menu#structure-sidebar {
	position: fixed;
	height: 100vh;
	padding: var(--structure-padding);
	margin: 0;
	width: var(--sidebar-width);
	left: 0;
	list-style: none;
	box-sizing: border-box;
	background-color: var(--background-color-sidebar);
	color: var(--text-color-sidebar);
	z-index: 999;
/*	transition: left 200ms;*/
	display: flex;
	flex-direction: column;
}

menu#structure-sidebar > li {
	position: relative;
	border-radius: var(--roundness);
	padding: 0px;
	margin: 0;
	color: var(--text-color-sidebar);
}

menu#structure-sidebar > li + li {
	margin-top: 10px;
}

menu#structure-sidebar > li:hover {
	background-color: var(--background-color-sidebar-bold);
}

menu#structure-sidebar > li.title {
	box-shadow: var(--dark-shadow);
}

/* Sidebar menu item text styling */
menu#structure-sidebar > li > a:not(.logo) {
	display: block;
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	padding: 5px 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

menu#structure-sidebar > li > .logo {
	line-height: 2em;
	padding: var(--structure-padding);
	background-color: var(--accent-color);
	color: var(--text-color-onaccent);
}

menu#structure-sidebar > li:last-of-type {
	margin-top: auto;
}

menu#structure-sidebar #sidebar-footer {
	margin-top: auto;
	padding: var(--structure-padding);
	color: var(--text-color-sidebar);
	background-color: var(--background-color-sidebar-bold);
	font-size: var(--footer-size);
	text-decoration: none;
	border-radius: var(--roundness);
	box-shadow: var(--dark-shadow);
}

menu#structure-sidebar #sidebar-footer svg {
	width: calc(2 * var(--footer-size));
	height: calc(2 * var(--footer-size));
	vertical-align: middle;
	margin-right: 10px;
}

menu#structure-sidebar #sidebar-footer svg path {
	fill: var(--text-color-sidebar);
}

/* NAVBAR */

menu#structure-navbar {
	height: var(--navbar-inner-height);
	padding: var(--structure-padding);
	width: 100%;
	min-width: var(--min-page-width);
	position: fixed;
	top: 0;
	margin: 0;
	list-style: none;
	background-color: var(--background-color-sidebar);
	z-index: 999;
}

menu#structure-navbar > li {
	display: inline-block;
	height: var(--navbar-inner-height);
	vertical-align: top;
	position: relative;
	margin-right: var(--structure-padding);
}

menu#structure-navbar #sidebar-toggle .hamburger {
	rotate: 0;
	transition: rotate 300ms;
}

menu#structure-navbar #sidebar-toggle:hover .hamburger,
menu#structure-navbar #sidebar-toggle.open .hamburger {
	stroke: var(--accent-color);
	border-radius: var(--roundness);
	rotate: 180deg;
}

menu#structure-navbar .hamburger {
	width: var(--navbar-inner-height);
	height: var(--navbar-inner-height);
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}

menu#structure-navbar .hamburger path {
	stroke: var(--text-color-sidebar);
}

menu#structure-navbar .logo {
	color: var(--text-color-sidebar);
	text-decoration: none;
}

menu#structure-navbar .logo::before {
	margin: 0 10px 0 15px;
	background-color: var(--accent-color);
	border-radius: var(--roundness);
	padding: 5px;
}

/* TITLE */

h1 {
	position: relative;
	display: inline-block;
	background-color: var(--background-color-sidebar);
	color: var(--text-color-sidebar);
	padding: var(--structure-padding);
	margin: var(--structure-padding) 0 0 0;
}

h1::before {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--background-color-sidebar);
}

/* MAIN CONTENT */

div#structure-content-wrapper {
	padding: var(--structure-padding);
	background-color: var(--background-color);
	flex: 1;
}

div#structure-content {
	box-sizing: border-box;
	padding: var(--structure-padding);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
/*	border: 2px solid var(--border-color);*/
	border-radius: var(--roundness);
	box-shadow: 0 0 2px 0 var(--border-color);
	background-color: var(--background-color);
}


/* LARGE VIEW */
@media (min-width: 801px) {
	menu#structure-sidebar {
		padding-right: 0;
	}
	div#structure-content-wrapper {
		margin: var(--structure-padding);
		margin-left: calc(var(--sidebar-width) + var(--structure-padding));
		border-radius: var(--roundness);
		box-shadow: var(--dark-shadow);
	}
	div#structure-content {
		max-width: var(--max-content-width);
	}
	menu#structure-navbar {
		display: none;
	}
	h1 {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-right: 4px solid var(--accent-color);
		box-shadow: 4px 0 0 0 var(--border-color);
	}
	h1::before {
		top: 0;
		left: -50vw;
		width: 50vw;
		height: 100%;
	}
}

/* SMALL/MOBILE VIEW */
@media (max-width: 800px) {
	menu#structure-sidebar {
		left: calc(-1 * var(--sidebar-width));
		top: var(--navbar-height);
		height: calc(100vh - var(--navbar-height));
		max-width: 100vw;
	}
	menu#structure-sidebar > li.title {
		display: none;
	}
	div#structure-content-wrapper {
		margin-top: var(--navbar-height);
	}
	menu#structure-sidebar.open {
		left: 0;
	}
	h1 {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom: 4px solid var(--accent-color);
	}
	h1::before {
		top: -50vh;
		left: 0;
		width: 100%;
		height: 50vh;
	}
}

/* END NEW LAYOUT */

